/* ========== Theme ========== */
/* Colors */
:root {
    --blue: #004cc5;
    --purple: #c48cec;
    --pink: rgb(255, 150, 255);
    --dark-blue: #000080;
    --black: #2c2c2c9a;
    --gray: rgb(94, 94, 94);
    --white: #F9FBFF;
    --white-shadow: rgba(249, 251, 255, 0.678);
    --black-shadow: rgba(0, 0, 0, 0.16);

    /* Font Sizes */
    --font-tiny: 0.6rem;
    --font-small: 0.8rem;
    --font-base: 1rem;
    --font-medium: 1.4rem;
    --font-large: 2rem;
    --font-larger: 2.4rem;

    /* Font Family */
    --font-normal: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    --font-cursive: "Merienda", cursive;
    --font-mono: "Kode Mono", monospace;

    /* Font Weights */
    --font-lighter: 200;
    --font-light: 400;
    --font-bold: 500;
    --font-bolder: 700;
    --font-heavy: 800;
}

/* ========== Reset Styles ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--font-normal);
    font-weight: var(--font-light);
    line-height: 1.5;
    font-size: var(--font-base);
    color: var(--white);

    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    background:
        radial-gradient(circle at center, var(--black-shadow), transparent 40%),
        radial-gradient(circle at bottom, var(--black-shadow), transparent 30%),
        radial-gradient(circle at top center, var(--purple), transparent 50%),
        radial-gradient(circle at bottom right, var(--blue), transparent 50%),
        linear-gradient(135deg, var(--dark-blue) 0%, var(--purple) 100%);

}

/* Mobile */
@media (max-width: 768px) {
    body {
        background:
            radial-gradient(circle at top right, var(--purple), transparent 25%),
            radial-gradient(circle at center right, var(--black-shadow), transparent 60%),
            radial-gradient(circle at bottom center, var(--black-shadow), transparent 55%),
            linear-gradient(90deg,
                var(--blue) 0%,
                var(--purple) 100%) !important;
    }
}